$header-background: #2D2D2D;
$button-color: #0C70F2;
$footer-color: #0C70F2;

$AZUL-DNC:#0C70F2;
$CINZA-DNC:#2D2D2D;

@mixin button-home{
    background-color: $AZUL-DNC;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding-left:36px;
    padding-right:36px;
    padding-bottom:7px;
    padding-top:7px;
    margin-bottom: 15px;
    margin-top: 20px;
}

@mixin a{
    color:white;
    font-weight:700;
    text-decoration: none;;
}