@use "../../sass/variables.scss" as *;.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(219, 218, 218, 0.449);
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .modal__content {
    background-color: white;
    border-radius: 90px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 1000px;
    height: 600px;

  }
  
  .modal__close {
    position: absolute;
    top: 0;
    right: 90px;
    cursor: pointer;
    color: rgba(43, 43, 43, 0.777);
    font-size: 90px;
  }
  
  .modal__content--flex {
    display: flex;
    flex-direction: row;
  }
  
  .modal__content__right {
    margin-left: 40px;
  }

  .imageModal{
    width: 270px;
    height: 195px;
    margin-top: 130px;
    margin-left: 60px;
    margin-right: 60px;
  }

  .h1bold{
    font-family: 'Raleway';
    font-style: normal;
    color: $AZUL-DNC;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 30px;
  }

hr{
background-color: $AZUL-DNC;
height: 3px;
width: 350px;
margin-top: 12px;
}

  .h2bold{
    font-family: 'Raleway';
    font-size: 25px;
    font-style: normal;
    color: black;
    font-weight: bold;
    margin-top: 20px;
  }

  h4{
    margin-top: 8px;
    margin-bottom: 20px;
  }

  .modal__content__colors{
    margin-bottom: 38px;
    margin-left: 5px;
  } 

  button{
    background-color: $AZUL-DNC;
    width: 350px;
    height: 61px;
    border: 0;
    border-radius: 10px;
    margin-top: 30px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
  }

  button:hover{
    background-color: $CINZA-DNC;
    transition: background-color 0.5s ease;
    
  }

