@use "../../sass/variables.scss" as *;

.header-menu{
    height: 260px;
    width: 100%;
    padding: 50px;
    background-color: $header-background;
    
}



.search {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    


    &__input-container {
      width: 75%;
      position: relative;
    }
  
    &__search-logo {
      position: absolute;
      left: 20px;
      top: 48%;
      transform: translateY(-50%);
      font-size: 18px;
      color: gray;
    }
  
    input {
      padding-left: 60px;
      height: 50px;
      width: 100%;
      border-radius: 10px;
      border: 1px solid black;
    }

    input::placeholder{
        font-size: 22px;
    }

    
  }

  .links{
    color: white;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        margin-top: 30px;
        width: 80%;
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        flex-grow: 1;
        font-size: 30px;
       
        span{
            font-weight: bold ;
        }
      }
  }