@use "../../sass/variables.scss" as *;

.cards{
    text-align: center;
    background-color: white;
    width:330px;
    border-radius: 8px;
    margin-bottom:27px;
    margin-right:160px;
    text-align: center;

}
.cards__img{
    border-radius: 8px;
    width:330px;
}
.cards__title{
    font-weight: 400;
    font-size:16px;
    text-align: center;
}
.cards__button{
    @include button-home;
    width:200px;
    
}
.cards__button a{
    font-size: 14px;
    @include a
}
