@use "../../sass/variables.scss" as *;

.product-detail {
    display: flex;
    justify-content: space-evenly;
    height: 854px;
    padding-top: 131px;

    &__left-side {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__card {
        p {
            padding: 40px 16px 30px 32px;
            font-size: 20px;
            font-weight: 400;
        }
    }

    &__description {
        padding-left: 2.5rem;
        margin: 0;

        h1 {
            font-family: 25px;
            font-weight: 600;
        }

        p {
            padding-top: 31px;
            font-size: 18px;
            font-weight: 500;
            margin: 0;
            padding-bottom: 19px;
            border-bottom: 2px solid $AZUL-DNC;
            width: 60%;
        }
    }

    &__right-side {
        display: flex;
        flex-direction: column;

        h1 {
            margin: 0;
            padding-bottom: 28px;
            border-bottom: 3px solid $AZUL-DNC;
        }

        h3 {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 900;
            font-size: 32px;
            line-height: 20px;
            text-align: left;
            color: #2D2D2D;
            margin: 0;
            padding-top: 61px;
            padding-bottom: 27px;
        }

        h4 {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 20px;
            color: #2D2D2D;
            text-shadow: 0px 4px 4px rgba(203, 203, 203, 0.25);
            margin: 0;
            padding-bottom: 21px;
        }

        img {
            padding-right: 13px;
        }

        button {
            background-color: $AZUL-DNC;
            width: 510px;
            height: 61px;
            border: 0;
            border-radius: 10px;
            margin-top: 130px;

            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 20px;
            text-align: center;
            color: #FFFFFF;
        }
    }
}